.each-category-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 60px;

    
}

@media only screen and (max-width: 1000px) {
    .each-category-container{
        grid-template-columns: repeat(3,1fr);
    }
    .button-container {
        font-size: .8rem;
    }
    
  }

  @media only screen and (max-width: 700px) {
    .each-category-container{
        grid-template-columns: repeat(2,1fr);
    }
    .button-container {
        font-size: .8rem;
    }
  }

  .each-category-title{
    text-align: center;
}