body {
  margin: 0;
  padding: 1.25rem 2.5rem;
  font-family: 'Open Sans', sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}